body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.8;
  color: #333;
}

article {
  max-width: 80ch;
  margin: auto;
  padding: 2em 1em;
}

h1 {
  font-size: 2em;
  margin-top: 1em;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

ul li {
  list-style: square;
}

img {
  display: block;
  width: 75%;
  margin: auto;
  margin-top: 1.5em;
}
